.day-group {
    display: flex;
}

.day-group .day {
    width: 70px;
    height : 50px;
    border: solid 1px black;
    color : black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
    opacity: 0.3;
    cursor: pointer;
}

.day-group .complete {
    background-image: url("/image/stamp.png");
    background-size: cover;
    opacity: 1;
}

textarea {
    height : 200px
}

.card-footer {
    text-align: left;
}