<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en" class="h-100" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>일기쓰기</title>
    <meta name="description" content="66일 금연일기를 통해 습관화 시키는게 목표인 서비스입니다.">
    <meta name="keywords" content="금연,금연일기,습관,66일">
    <meta name="robots" content="index,follow">
    <link rel="canonical" href="https://smoking.streamdiaries.com">

    <script th:src="@{/js/home.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link th:href="@{/css/home.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/diary.css}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"
            integrity="sha512-lteuRD+aUENrZPTXWFRPTBcDDxIGWe5uu0apPEn+3ZKYDwDaEErIK9rvR0QzUGmUQ55KFE2RqGTVoZsKctGMVw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <link rel="manifest" href="/manifest.json" />
</head>

<body class="d-flex h-100 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <a th:href="@{/}"><h3 class="float-md-start mb-0">금연챌린지</h3></a>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <!--<a class="nav-link fw-bold py-1 px-0 active" aria-current="page" th:onclick="clickMenu(event)"
                   href="javascript:void(0)">Home</a>-->
                <a class="nav-link fw-bold py-1 px-0" th:href="@{/my-page}" sec:authorize="isAuthenticated()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                         style="color:white;"
                         class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                </a>

                <a th:href="@{/logout}" class="nav-link fw-bold py-1 px-0" href="javascript:void(0)" sec:authorize="isAuthenticated()">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="30" height="30">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M15 12L2 12M2 12L5.5 9M2 12L5.5 15" stroke="#e4e9f5" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.3531 21.8897 19.1752 21.9862 17 21.9983M9.00195 17C9.01406 19.175 9.11051 20.3529 9.87889 21.1213C10.5202 21.7626 11.4467 21.9359 13 21.9827"
                                  stroke="#e4e9f5" stroke-width="1.5" stroke-linecap="round"></path>
                        </g>
                    </svg>
                </a>

                <a th:href="@{/oauth2-login}" class="nav-link fw-bold py-1 px-0" href="javascript:void(0)" sec:authorize="!isAuthenticated()" style="color: white">
                    로그인
                </a>

            </nav>
        </div>
    </header>

    <main>


        <div class="py-5">
            <div class="row">
                <div class="mx-auto">


                    <div class="card" data-bs-theme="light">
                        <h5 class="card-header pt-3 pb-3">66일 금연일기</h5>
                        <div class="card-body">
                            <form method="post" action="/diary/post">
                                <div class="form-group mb-3">
                                    <label for="title"></label>
                                    <input class="form-control form-control-lg" type="text" placeholder="제목" id="title" name="title">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="content"></label>
                                    <textarea class="form-control" id="content" rows="3" placeholder="내용" name="content"></textarea>
                                </div>

                                <div class="form-group mb-3">
                                    <button type="submit" class="btn btn-primary">저장</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <input type="hidden" name="message" th:value="${message}"/>
    <footer class="mt-auto">
        <p>Created <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
                href="mailto: tsukeman@naver.com" class="text-white">tsukeman@naver.com</a></p>
    </footer>
</div>

</body>

<script>
    let message = document.querySelector('input[name="message"]').value
    if (message) {
        alert(message)
    }
</script>


</html>